@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-tap-highlight-color: transparent; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.btn {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 1.25em 5em;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }

@font-face {
  font-family: 'Nasalization Rg';
  src: url(src/assets/fonts/nasalization/NasalizationRg-Regular.eot);
  src: url(src/assets/fonts/nasalization/NasalizationRg-Regular.eot?#iefix) format("embedded-opentype"), url(src/assets/fonts/nasalization/NasalizationRg-Regular.woff2) format("woff2"), url(src/assets/fonts/nasalization/NasalizationRg-Regular.woff) format("woff"), url(src/assets/fonts/nasalization/nasalization-rg.ttf) format("truetype"), url(src/assets/fonts/nasalization/NasalizationRg-Regular.svg#NasalizationRg-Regular) format("svg");
  font-weight: normal;
  font-style: normal; }

:root {
  --isMobile: 0; }

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: black;
  font-family: 'Nasalization Rg', 'Press Start 2P', cursive;
  height: 100vh;
  width: 100vw; }

body::after {
  content: "";
  background: url(src/assets/images/starField.png);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; }

#intro-page-wrapper {
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  flex-direction: column;
  z-index: -10;
  text-align: center;
  justify-content: center;
  align-items: center;
  opacity: 0.00;
  visibility: hidden;
  -webkit-transition: opacity .5s;
  transition: opacity .5s; }
  #intro-page-wrapper.active {
    opacity: 1.00;
    visibility: visible;
    z-index: 60; }
  #intro-page-wrapper #titles {
    margin-bottom: 2.5em; }
    #intro-page-wrapper #titles h1 {
      color: white;
      font-size: 5em;
      text-shadow: 0 0 7.5px #ffffff; }
      #intro-page-wrapper #titles h1 span {
        font-size: .6em;
        display: block;
        text-shadow: 0 0 7.5px #ffffff; }
      .isMobile #intro-page-wrapper #titles h1 {
        font-size: 3.5em; }
    #intro-page-wrapper #titles h4 {
      color: #000000;
      margin-top: .5em;
      font-size: 1.75em;
      padding: .35em;
      background: #00ff00;
      border-radius: 5px; }
  #intro-page-wrapper #instructions-slider {
    background: #0000ff;
    width: 50vw;
    height: 20vh;
    position: relative;
    color: #ffffff;
    margin-bottom: .75em; }
    #intro-page-wrapper #instructions-slider::after {
      content: "";
      position: absolute;
      left: -.75em;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 100%;
      height: 100%;
      padding: .5em;
      background: rgba(0, 0, 0, 0);
      border: #0000ff thick solid;
      border-radius: 5px; }
    #intro-page-wrapper #instructions-slider li {
      position: absolute;
      background: #0000ff;
      width: 100%;
      height: 100%; }
  #intro-page-wrapper #start.btn {
    background: red;
    border: red solid thin;
    border-radius: 5px;
    font-size: 1em;
    color: #ffffff; }

#math-viewport {
  height: 15vh;
  z-index: 50;
  top: -15vh;
  left: 0;
  right: 0;
  position: fixed;
  margin: auto;
  border: #00ff00 solid 2.5px;
  border-radius: 0 0 25px 25px;
  background: rgba(0, 0, 0, 0.75);
  width: 80vw;
  overflow: hidden;
  display: flex;
  -webkit-transition: top .5s;
  transition: top .5s; }
  #math-viewport.active {
    top: -3.5px; }
  #math-viewport h2 {
    font-size: 3em; }
  .isMobile #math-viewport {
    height: 15vh;
    width: 60vw; }
    .isMobile #math-viewport span {
      font-size: .65em; }
    .isMobile #math-viewport h2 {
      font-size: 1.75em; }
  .incorrect #math-viewport {
    border-color: red; }
  #math-viewport #score-keeper-wrapper {
    text-align: center; }
    #math-viewport #score-keeper-wrapper #score-keeper {
      color: red;
      text-shadow: 0 0 7.5px red; }
    #math-viewport #score-keeper-wrapper span {
      color: #0000ff; }
  #math-viewport #current-problem-wrapper {
    flex: 1.5;
    border-right: solid #00ff00 thin;
    border-left: solid #00ff00 thin; }
    #math-viewport #current-problem-wrapper #current-problem {
      color: #ffffff;
      text-align: center;
      font-size: 3.25em;
      text-shadow: 0 0 7.5px #ffffff;
      vertical-align: middle; }
      .isMobile #math-viewport #current-problem-wrapper #current-problem {
        font-size: 2em; }
      .incorrect #math-viewport #current-problem-wrapper #current-problem {
        color: red;
        text-shadow: 0 0 7.5px red; }
  #math-viewport #timer-wrapper {
    text-align: center; }
    #math-viewport #timer-wrapper span {
      color: #ffff00; }
    #math-viewport #timer-wrapper #timer {
      color: #00ff00;
      text-shadow: 0 0 7.5px #00ff00;
      vertical-align: middle; }
      .incorrect #math-viewport #timer-wrapper #timer {
        color: red;
        text-shadow: 0 0 7.5px red; }
  #math-viewport div {
    flex: 1;
    display: inline-block;
    margin: auto; }

#rotation-error {
  position: absolute;
  height: 60vh;
  width: 60vw;
  background: #000000;
  z-index: 100;
  color: #ffffff;
  font-size: 1.25em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  padding: 20vh 20vw; }
  #rotation-error #orientation-warning {
    background-color: #ffff00;
    background-image: url(src/assets/images/phone.png);
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    height: 125px;
    width: 125px;
    border-radius: 200px;
    margin-bottom: 2em; }

#global-wrapper {
  height: 100vh;
  width: 100vw;
  z-index: 10; }
  #global-wrapper .control-panel {
    position: fixed;
    height: 100vh;
    width: 10%;
    background: red;
    top: 0;
    z-index: 30;
    visibility: hidden; }
    #global-wrapper .control-panel.left {
      left: 0; }
    #global-wrapper .control-panel.right {
      right: 0; }
    .isMobile #global-wrapper .control-panel {
      visibility: visible; }
  #global-wrapper #game-stage-wrapper {
    width: 100%;
    height: 100vh;
    display: inline-block;
    overflow: hidden;
    position: relative;
    z-index: 20; }
    #global-wrapper #game-stage-wrapper #user-feedback-display {
      position: absolute;
      height: 100vh;
      width: 100vw;
      visibility: hidden;
      opacity: 0.5; }
      #global-wrapper #game-stage-wrapper #user-feedback-display.incorrect {
        background: red;
        visibility: visible; }
      #global-wrapper #game-stage-wrapper #user-feedback-display.correct {
        background: #00ff00;
        visibility: visible; }
    #global-wrapper #game-stage-wrapper #crosshair {
      position: absolute;
      height: 5em;
      width: 5em;
      margin: auto;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: url(src/assets/images/001-irregular-cross-hair.png);
      background-size: contain;
      visibility: hidden; }
      #global-wrapper #game-stage-wrapper #crosshair.active {
        visibility: visible; }
      .isMobile #global-wrapper #game-stage-wrapper #crosshair {
        height: 3.5em;
        width: 3.5em; }

.control-button {
  height: 50vh;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer */
  -khtml-user-select: none;
  /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none;
  /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none;
  /* Disable Android and iOS callouts*/ }
  .control-button:first-of-type {
    border-bottom: #b60b0b solid thick; }
  .control-button .inset {
    height: 50px;
    width: 50px;
    background-color: #b60b0b;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-size: 2em;
    text-align: center;
    color: red; }

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 80vw;
  margin: auto;
  color: black;
  text-align: center;
  height: 10vh;
  overflow: visible;
  z-index: 50; }
  footer::after, footer::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    background: #000000; }
  footer::after {
    border: #ffff00 solid 2.5px;
    transform: skew(20deg);
    left: 0;
    right: 12.5px;
    bottom: 10px;
    height: 100%; }
  footer::before {
    right: 0px;
    bottom: 0px;
    border: #ffff00 solid 2.5px;
    transform: skew(20deg); }
  .isMobile footer {
    width: 70vw; }

@media only screen and (orientation: portrait) {
  #global-wrapper {
    visibility: hidden;
    display: none; } }

@media only screen and (orientation: landscape) {
  #rotation-error {
    display: none;
    visibility: hidden; } }


/*# sourceMappingURL=bundle.css.map*/